/* Header */
.header {
	position: fixed;
	top: 0;
	z-index: 1;
	padding: 2em;
	.navbar {
		justify-items: center;
		align-items: center;
		&__items {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			height: 100vh;
			width: 60vw;
			background: rgba(0, 0, 0, 0.9);
			padding: 50px 20px;
			z-index: 1;
			.navbar__link {
				display: block;
				text-decoration: none;
				color: $text-white;
				font-size: 2em;
				padding: 20px 0;
			}
		}
		.hamburger {
			grid-column: 12;
			font-size: 2em;
			cursor: pointer;
			color: $text-white;
		}
	}
}

@media (min-width: 768px) {
	.header {
		.navbar {
			&__logo {
				grid-column: 2;
			}
			&__items {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				background: transparent;
				position: static;
				padding: 0;
				height: 100%;
				width: 100%;
				grid-column: 7/13;

				.navbar__link {
					display: inline-block;
					font-size: 1em;
				}
			}
			.hamburger {
				display: none;
			}
		}
	}
}
