/* Jumbotron */
.jumbotron {
	position: relative;
	grid-template-rows: 100vh;
	justify-items: center;
	align-items: center;
	&__img {
		display: none; /* gestito da jQuery */
		grid-column: 1/13;
		max-width: 100%;
		grid-row: 1;
		height: 100%;
		object-fit: cover;
		&.active {
			display: block;
		}
	}
	&__text {
		position: absolute;
		color: $text-white;
		grid-column: 3/9;
		bottom: 5%;
		h1 {
			font-size: 2.5em;
			font-family: 'Gotham-Bold';
			margin-bottom: 20px;
		}
	}
	i {
		display: inline-block;
		position: absolute;
		top: 50%;
		font-size: 2em;
		color: #eee;
		cursor: pointer;
		&:first-of-type {
			grid-column: 1/2;
		}
		&:last-of-type {
			grid-column: 12;
		}
	}
	.img-counter {
		ul {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			padding: 20px;
			border-radius: 20px;
			li {
				list-style: none;
				border-radius: 50%;
				background: #666;
				padding: 5px;
				margin: 0 10px;
				&.active-counter {
					background: #fff;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.jumbotron {
		&__img {
			height: 100%;
		}
		&__text {
			grid-column: 3/4;
			top: 60%;
			transform: translateY(-50%);
			h1 {
				font-size: 4em;
			}
		}
		i {
			top: 50%;
		}
	}
}
